.label {
	-fx-font-family: 'Tw Cen MT';
	-fx-font-size:16px;
	padding-left:5px;
}

.label#accountTitle {
	-fx-background-color: linear-gradient(#b7deed,#21b4e2,#b7deed);
	-fx-border-color: GREY;
	-fx-font-family: 'Tw Cen MT Condensed Extra Bold';
	-fx-font-size:25px;
}

.button#deleteUser {
    -fx-background-color: linear-gradient(#edb7b7,#e22121,#edb7b7);
    -fx-border-color: GREY;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 0px;
}

.button:hover#deleteUser {
    -fx-background-color: linear-gradient(#edb7b7,#ef8f71,#edb7b7);
}